{% extends "base.html" %}

{% block content %}
  <div style = "margin-left: 40%;">
    <h1>Регистрация</h1>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.reg_balance.label }}<br>
            {{ form.reg_balance(size=32) }}<br>
            {% for error in form.reg_balance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--<p>
            {{ form.currency.label }}<br>
            {{ form.currency(size=32) }}<br>
            {% for error in form.currency.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>-->
        <p>
            {{ form.currency.label }}<br>
            {{form.currency}}

        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            
        <br>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
   <div>
{% endblock %}